body {
	font-family: 'Nunito', sans-serif;
	background-color: #000000;
	margin: 0;
	padding:0;
	color:#fff;
	max-height:1000px;
}

.main-img{
	width:100%;
	position:absolute;
	z-index:0;
	max-height:1000px;
	overflow:hidden;
	float:left;
}

/*--------------- common elements ---------------------*/

#wrapper{
	position:relative;
	z-index:1;
	top:0;
}

header{
	padding:40px 40px 0 60px;
}


.logo{
	position:absolute;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
	margin:0;
	padding:0;
}

h2{
	font-size: 40px;
    font-weight: 100;
	margin:0;
	padding:0;	
	
}

/*--------------- end of common elements ---------------------*/

/*------------------------- main nav ------------------------*/

.main-menu-link {
    position: absolute;
    right: 40px;
    font-size: 30px;
}

.main-menu-link a{
	text-decoration:none;
	color:#fff;
}

.main-menu-link span{
	position:relative;
	right:8px;
}


.main-nav{
	width:400px;
	height:989px;
	position:fixed;
	top:0;
	right:-400px;
}

.main-nav-overlay{
	background:#000;
	opacity:.8;
	width:400px;
	height:989px;
	position:absolute;
	top:0;
	right:0;
	z-index:1;
}

.main-nav ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-top:130px;
	z-index:2;
	position:relative;
}

.main-nav ul li{
	margin:0;
	padding:0;
}

.main-nav ul li a{
	color:#ff6600;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	text-align:center;
	padding:30px 0;
	
}

.main-nav ul li a:hover, .main-nav ul li a.selected{
	background:#fff;
	opacity:1;
}

.close-icon-mainnav{
	position:absolute;
	top:40px;
	right:40px;
	z-index:2;
}


/*------------------------- end fo main nav ------------------------*/




/*--------------- Login panel ---------------------*/

.login-panel{
	background:#fff;
	width:400px;
	height:989px;
	position:fixed;
	top:0;
	right:-400px;
}

.close-icon{
	position:absolute;
	top:40px;
	right:40px;
}

form#userForm {
    padding: 0 40px;
	position:absolute;
	top:40%;
}

form#userForm input {
    display: block;
    width: 100%;
	font-family: 'Nunito', sans-serif;
	font-size:27px;
	color:#666;
	margin-bottom:40px;
	border:0;
	border-bottom:4px solid #666;
	outline:none;
}

form#userForm .login-btn-cntr{
	text-align:right;
	
}

form#userForm .login-form-btn{
	color:#fff;
	text-decoration:none;
	font-size:30px;
	font-weight:100;
	display:inline-block;
	background:#000;
	padding:6px 30px;
}


/*--------------- end of Login panel ---------------------*/




/*--------------- Home page  ---------------------*/

.main-sec{
	text-align:center;
	padding-top:27%;
	
}


a.login-btn{
    font-size: 34px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 3px solid #fff;
    border-radius: 32px;
    padding: 3px 27px;
    margin-top: 40px;
    display: inline-block;
}

/*--------------- end of Home page  ---------------------*/