<div class="main-nav">
		<div class="main-nav-overlay"></div>
		<a href="" ng-click="hideMenu()" class="close-icon-mainnav"><img src="ic_close-white.png"/></a>
		<ul>
			<li><a href="" ng-click="goToStep1()" class="selected">GL Introduction Video</a></li>
			<li><a href="" ng-click="hideMenu()">Key Note Messages</a></li>
			<li><a href="" ng-click="hideMenu()" >Milestone Achieved</a></li>
			<li><a href="" ng-click="hideMenu()">Demos: Automotion Tools</a></li>
			<li><a href="" ng-click="goToStep2()">Life @ GL</a></li>
			<li><a href="" ng-click="hideMenu()">Webinar / Podcasts</a></li>
		</ul>
</div>